body {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(60deg, red, orange);
  display: flex;
  height: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@font-face {
  font-family: PokeSolid;
  src: url('./fonts/Pokemon\ Solid.ttf');
}

.page-title {
  font-family: PokeSolid;
  font-weight: 200;
  color: yellow;
  text-shadow: 0 4px 0 blue;
}

.search-form {
  margin: 50px;
}

@font-face {
  font-family: PokeGBA;
  src: url('./fonts/PokemonGb-RAeo.ttf');
}

.poke-card {
  border: 1px solid black;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
  width: 500px;
  height: 300px;
  font-family: PokeGBA;
  flex-flow: column;
}

.poke-name {
  text-transform: capitalize;
  font-size: calc(10px + 4vmin);
  margin: 20px;
}

.poke-info {
  display: flex;
  height: 100%;
  /* flex-direction: row; */
  align-items: space-between;
}

.poke-sub-info {
  width: 200px;
  text-align: center;
  border: 1px solid black;
  padding: 10px 20px;
  margin: auto;
  border-radius: 5px;
}

label {
  font-weight: 600;
}

.poke-sprite {
  width: 200px;
  /* flex-grow: 1; */
}